body {
    background-color: cadetblue;
    font-family: "Reddit Mono", monospace;
    background: url("https://previews.123rf.com/images/blueskyimage/blueskyimage1310/blueskyimage131000558/22809819-buying-the-movie-tickets-young-people-waiting-in-line-to-buy-the-movie-tickets.jpg");
    background-size: cover;
}

.main-app {
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
}

h1, h3 {
    color: black;
    background-color: aquamarine;
    border: none;
    padding: 2px 5px;
    border-radius: 5px 10px;
}

h2 {
    background-color: aquamarine;
    padding: 10px;
}

.button-style {
   width: 200px;
   padding: 5px; 
   color: white;
   border: none;
   border-radius: 5px;
   font-family: "Reddit Mono", monospace;
   font-size: 20px;
}

.button-style:nth-child(1) {
    background-color: cornflowerblue;
}

.button-style:nth-child(2) {
    background-color: darksalmon;
}